.contitle {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  color: rgb(30, 215, 96);
  font-size: 50px;
  width: 300px;
}

.logs {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.btnback {
  font-size: 90px;
  color: white;
  background: none;
  border: 0;
}

.btnback:hover {
  color: rgb(30, 215, 96);
  cursor: pointer;
  transition: 0.2s;
}

.nullogs {
    text-align: center;
    color: white;
}
